@import "base";
@import "font";

.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

@black  : #222;
@gray   : #ddd;
@gray1  : #ccc;
@gray2   : #999;

body {
    color: @black;
}

.line-instructions {
    border-top: 1.5px solid @black;
    font-weight: bold;
}

.after-table {
    .clearfix();
}

.logos {
    width: 50%;
    float: right;
    border: 1px @gray solid;
    // padding: 10px;
    margin-left: 10px;
    text-align: center;

    .clearfix();
}

.logo-header {
    background: @gray;
    padding: .5em 0;
    margin-bottom: 0;
}

.logo-container {
    padding: 10px 0;
}

.logos img {
    margin: 0 5px;
    height: 40px;
    max-width:100%;
}

.key {
    margin: 15px 0 15px 0;

    .key-item label {
        color: @black;
    }

    .key-item b {
        border-radius: 7.5px;
        -moz-border-radius: 7.5px;
        -webkit-border-radius: 7.5px;
    }
}

.mobile.key {
    -moz-column-count: 2;
    -moz-column-gap: 5px;
    -webkit-column-count: 2;
    -webkit-column-gap: 5px;
    column-count: 2;
    column-gap: 5px;

    .key-item {
        margin: 5px 0;
    }    
}

.introduction p {
    font-family: "Georgia", serif;
    font-size: 18px;
    line-height: 25px;
    margin: 0 0 1em;
}

.lines {
    fill: none;
    stroke-width: 3px;
    stroke: @gray1;
}

.value text {
    display: none;
    font-size: 12px;
    font-weight: bold;
    fill: @gray2;
}

@media screen and (max-width: 500px) {
    .value text {
        font-size: 10px;
    }
}

.selected {
    stroke: black;
    stroke-width: 2px;
}

// @media screen and (min-width: 500px) {
//     .key {
//         display: none;
//     }
// }

.info-box {
    display: none;
}

.tooltip-details {
    border: 2px solid @gray;
    box-sizing: border-box;
    display: none;
    line-height: 1.1;
    position: absolute;
    z-index: 3;
    background: rgba(255,255,255,.8);
    padding: 5px;

    .meta {
        float: right;
    }

    .details {
        text-align: center;
    }


    .details>div {
        margin: .4em 0 0;
    }

    .big-number {
        margin: 0;
    }

    .big-number .big {
        // font-size: 3em;
        font-size: 36px;
        line-height: 0.8;
        font-weight: bold;
    }

    .big-number .small {
        font-size: 2em;
    }

    .group {
        font-size: 1em;
        font-weight: bold;
    }

    .more-details {
        display: none;
    }

    a {
        font-weight: bold;
    }

    ul, ol {
        padding-left: 1.2em;
        margin-top: 0;
    }

    table {
        width: 100%;
        text-align: center;
        // border-collapse: collapse;
        margin: .5em auto;
        border-spacing: 5px 0;
        border-collapse: separate;
    }

    th, td {
        border: 1px @gray2 solid;
    }

    th {
        background: @gray;
        border-bottom: none;
        font-size: 12px;
        line-height: 1.2em;
        vertical-align: top;

        .units {
            display: block;
            font-size: .8em;
            font-weight: normal;
        }
    }

    td {
        padding: 5px;
    }

    .select-series {
        display: none;
        max-width: 100%;
    }

    .prev {
        float: left;
    }

    .next {
        float: right;
    }

    .tooltip-nav {
        display: none;
        margin-top: .5em;
        padding-top: .5em;
        background: @gray;
        text-align: center;

        .clearfix();
    }
}

@media screen and (max-width: 500px) {
    .tooltip-details {
        width: 86%;
        margin: 0 7%;
        box-sizing: border-box;
    }
}
    
.tooltip {
    pointer-events: none;
}

div.dt-buttons {
    & > a, span {
        vertical-align: middle;
    }
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em; 
}

.dataTables_wrapper {
    .clearfix();
    padding-bottom: 1em;
}

.point {
    cursor: pointer;
}
