@import "base";
@import "font";

.lines {
    fill: none;
    stroke-width: 3px;
    stroke: #ccc;
}

.value text {
    display: none;
    font-size: 12px;
    font-weight: bold;
    fill: #999;
}

@media screen and (max-width: 500px) {
    .value text {
        font-size: 10px;
    }
}

.selected {
    stroke: black;
    stroke-width: 2px;
}

// @media screen and (min-width: 500px) {
//     .key {
//         display: none;
//     }
// }

.info-box {
    display: none;
}

.div-tooltip {
    position: absolute;
    z-index: 3;
    background: beige;
    width: 50%;
    // left: 25%;
    // top: 10%;
    padding: 10px;
}
