{% extends 'base_template.html' %}

{% block content %}

    <!-- {% if COPY.labels.headline %}<h1>{{ COPY.labels.headline|smarty }}</h1>{% endif %} -->
    <!-- {% if COPY.labels.subhed %}<h2>{{ render(COPY.labels.subhed)|smarty }}</h2>{% endif %} -->
<!--     {% if COPY.labels.intro %}
    <div class = "introduction">{{ render(COPY.labels.intro)|smarty }}</div>
    {% endif %} -->
    <div class="logos">
        <h3 class="logo-header">Data verified by</h3>
        <div class="logo-container">
            <a href="http://www.nrel.gov/"><img src="{{ ASSETS_S3_URL }}/{{ slug }}/nrel-logo.sm.png" /></a>
            <a href="https://www.ise.fraunhofer.de/en/front-page"><img src="{{ ASSETS_S3_URL }}/{{ slug }}/fraunhofer-logo.sm.png" /></a>
            <a href="http://www.aist.go.jp/index_en.html"><img src="{{ ASSETS_S3_URL }}/{{ slug }}/aist-logo.sm.png" /></a>
        </div>
    </div>
    {% if COPY.labels['instructions-line'] %}<p>{{ COPY.labels['instructions-line']|smarty }}</p>{% endif %}


    <div id="line-chart" class="graphic">
        <img src="fallback.png" alt="[Chart]" class="fallback" />
    </div>


    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <h4>Notes</h4>
        <p>{{ COPY.labels.footnote|smarty }}</p>
    </div>
    {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source|smarty }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit|smarty }}</p>{% endif %}
    </div>
    <br>
    <hr>
    <br>
    <h3>Full Tabular Data</h3>

    {% if COPY.labels['instructions-table'] %}<p>{{ render(COPY.labels['instructions-table'])|smarty }}</p>{% endif %}
    
    <table id="pv-table" class="display" width="100%"></table>

    <script type="text/javascript" src="js/lib/underscore.js"></script>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/backbone/backbone-min.js"></script>
    <!-- <script type="text/javascript" src="bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script> -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/b-1.2.1/b-colvis-1.2.1/b-html5-1.2.1/b-print-1.2.1/fh-3.1.2/r-2.1.0/sc-1.4.2/se-1.2.0/datatables.min.css"/>

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/b-1.2.1/b-colvis-1.2.1/b-html5-1.2.1/b-print-1.2.1/fh-3.1.2/r-2.1.0/sc-1.4.2/se-1.2.0/datatables.min.js"></script>

    <script type="text/javascript">
        var DATA = {{ COPY.data.json() }};
        var AIRTABLE_DATA = {};

        {% for sheet in AIRTABLE_DATA %}
        AIRTABLE_DATA['{{ sheet.name }}'] = {{ sheet.data }};
        {% endfor %}
    </script>

    <script id="tooltip-template" type="text/html">
        <div class="meta"><a href="#" id="close">Close</a></div>
        <div><%= dateFormat(record.date) %></div>
        <div class="details">
            <div class="big-number">
                <span class="big"><%= record.amt.toFixed(1) + '%' %></span>
            </div>
            <div class="group"><%= record.institutions.join(', ') %></div>
            <div><%= record.name %></div>
            <div><a href="#" id="ttMore-details">See details</a></div>
        </div>
        <div class="more-details">
            <table>
                <tbody>
                    <tr>
                        <th>V<sub>OC</sub> (mV)</th>
                        <th>J<sub>SC</sub> (mA/cm<sup>2</sup>)</th>
                        <th>FF (%)</th>
                        <th>Area (cm<sup>2</sup>)</th>
                        <th>Suns</th>
                    </tr>
                    <tr>
                        <td><%= record.voc %></td>
                        <td><%= record.jsc %></td>
                        <td><%= record.ff %></td>
                        <td><%= record.area %></td>
                        <td><%= record.suns %></td>
                    </tr>
                </tbody>
            </table>
            <em>References:</em>
            <ul>
            <% _.each(record.references, function(reference){ %>
                <li><%= reference %></li>
            <% }); %>
            </ul>
        </div>
        <nav class="tooltip-nav">
            <div>Navigate Records</div>
            <!-- <h4>Cell Type:</h4> -->
            <select name="series" class="select-series" id="select-series"></select>
            <button class="prev">Previous</button>
            <button class="next">Next</button>
        </nav>
    </script>

{% endblock content %}
