{% extends 'base_template.html' %}

{% block content %}

    {% if COPY.labels.headline %}<h1>{{ COPY.labels.headline|smarty }}</h1>{% endif %}
    {% if COPY.labels.subhed %}<h2>{{ render(COPY.labels.subhed)|smarty }}</h2>{% endif %}
    {% if COPY.labels.intro %}<div>{{ render(COPY.labels.intro)|smarty }}</div>{% endif %}
    {% if COPY.labels['instructions-line'] %}<p>{{ render(COPY.labels['instructions-line'])|smarty }}</p>{% endif %}

    <div id="line-chart" class="graphic">
        <img src="fallback.png" alt="[Chart]" class="fallback" />
    </div>

    {% if COPY.labels.footnote %}
    <div class="footnotes">
        <h4>Notes</h4>
        <p>{{ COPY.labels.footnote|smarty }}</p>
    </div>
    {% endif %}

    <div class="footer">
        {% if COPY.labels.source %}<p>Source: {{ COPY.labels.source|smarty }}</p>{% endif %}
        {% if COPY.labels.credit %}<p>Credit: {{ COPY.labels.credit|smarty }}</p>{% endif %}
    </div>
    <br>
    <hr>
    <br>
    <h3>Full Tabular Data</h3>

    {% if COPY.labels['instructions-table'] %}<p>{{ render(COPY.labels['instructions-table'])|smarty }}</p>{% endif %}
    
    <table id="pv-table" class="display" width="100%"></table>

    <script type="text/javascript" src="js/lib/underscore.js"></script>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/backbone/backbone-min.js"></script>
    <!-- <script type="text/javascript" src="bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script> -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/b-1.2.1/b-colvis-1.2.1/b-html5-1.2.1/b-print-1.2.1/fh-3.1.2/r-2.1.0/sc-1.4.2/se-1.2.0/datatables.min.css"/>

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/b-1.2.1/b-colvis-1.2.1/b-html5-1.2.1/b-print-1.2.1/fh-3.1.2/r-2.1.0/sc-1.4.2/se-1.2.0/datatables.min.js"></script>

    <script type="text/javascript">
        var DATA = {{ COPY.data.json() }};
        var AIRTABLE_DATA = {};

        {% for sheet in AIRTABLE_DATA %}
        AIRTABLE_DATA['{{ sheet.name }}'] = {{ sheet.data }};
        {% endfor %}
    </script>

{% endblock content %}
